<p id="notice"><%= notice %></p>

<p>
  <b>Badge Number:</b>
  <%= @badge.BID %>
</p>

<p>
  <b>Name:</b>
  <%= @badge.name %>
</p>

<p>
  <b>Description:</b>
  <%= @badge.description %>
</p>


<%= link_to 'Back', badges_path %>

